<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Image & Audio Compression</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-transparent py-2">
    <div class="container py-2">
      <a class="navbar-brand text-white" href="#"> <i class="fa fa-minimize me-2 h2 text-white"></i> <b>Compression
          Website</b></a>
    </div>
  </nav>

  <!-- Hero Section -->
  <section class="hero-section py-5">
    <div class="container text-center my-5">
      <h1 class="display-4">Welcome to <b class="text-white">Compression</b> Website</h1>
      <p class="lead mt-4">Compress your images and audio files easily.</p>
      <div class="wrapper">
        <a href="#image" class="btn btn-primary shadow-lg"><i class="fa fa-image fa-2x me-2"></i> Image Compression</a>
        <a href="#audio" class="btn btn-info shadow text-white"><i class="fa fa-headphones-simple fa-2x me-2"></i> Audio
          Compression</a>
      </div>
    </div>
  </section>

  <!-- Image Compression Section -->
  <section class="image-compression-section py-5" id="image">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" id="wave1">
      <path fill="#fff" fill-opacity="1"
        d="M0,64L40,85.3C80,107,160,149,240,160C320,171,400,149,480,133.3C560,117,640,107,720,112C800,117,880,139,960,128C1040,117,1120,75,1200,53.3C1280,32,1360,32,1400,32L1440,32L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z">
      </path>
    </svg>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2><i class="fa fa-image me-2"></i>Image Compression</h2>
          <p>Compress your images to reduce file size while maintaining quality.</p>
          <form action="/compress" method="POST" enctype="multipart/form-data" id="image-upload-form">
            <div class="mb-3">
              <label for="image-file" class="form-label">Choose an image file</label>
              <input class="form-control" type="file" id="image-file" name="image" accept="image/*" required>
              <span>Size : <b id="imageSize">0 KB</b></span>
            </div>
            <button type="submit" class="btn btn-primary" id="btn-image">
              <span class="spinner-border spinner-border-sm me-2 d-none" role="status" aria-hidden="true" id="image-loading"></span>Compress Image
            </button>
          </form>
        </div>
        <div class="col-lg-6 justify-items-center">
          <!-- Display compressed image or result message here -->
          <img class="img-thumbnail rounded mx-auto d-block shadow" src="/img-thumb.jpg" alt="image" width="500px"
            id="image-preview">
        </div>
      </div>
    </div>
  </section>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#fff" fill-opacity="1"
      d="M0,32L30,69.3C60,107,120,181,180,186.7C240,192,300,128,360,112C420,96,480,128,540,165.3C600,203,660,245,720,256C780,267,840,245,900,229.3C960,213,1020,203,1080,186.7C1140,171,1200,149,1260,154.7C1320,160,1380,192,1410,208L1440,224L1440,0L1410,0C1380,0,1320,0,1260,0C1200,0,1140,0,1080,0C1020,0,960,0,900,0C840,0,780,0,720,0C660,0,600,0,540,0C480,0,420,0,360,0C300,0,240,0,180,0C120,0,60,0,30,0L0,0Z">
    </path>
  </svg>
  <!-- Audio Compression Section -->
  <section class="audio-compression-section py-5" id="audio">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2><i class="fa fa-headphones-simple me-2"></i>Audio Compression</h2>
          <p>Compress your audio files to reduce file size without significant quality loss.</p>
          <form action="/convert" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="audio-file" class="form-label">Choose an audio file</label>
              <input class="form-control" type="file" id="audio-file" name="audio" accept="audio/*" required>
              <span>Size : <b id="audioSize">0 KB</b></span>
            </div>
            <button type="submit" class="btn btn-light shadow" id="btn-audio">
              <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true" id="audio-loading"></span>
              Compress Audio</button>
          </form>
        </div>
        <div class="col-lg-6">
          <!-- Display compressed audio or result message here -->
          <div id="audio-preview">
            <audio controls class="d-flex mx-auto" style="margin-top: 7em;">
              <source src="" type="audio/wav">
              </source>
              Your browser does not support the audio element.
            </audio>
          </div>
        </div>
      </div>
      <footer>
        <div class="container text-center">
          <span class="text-white">
            &copy;
            <span><% new Date().getYear() %></span>
            made with <i class="fa fa-heart me-1"></i>
            <a href="https://github.com/ricky03knowhere" class="text-white text-decoration-none"
              target="_blank">ricky03knowhere</a>
          </span>
        </div>
      </footer>
    </div>
  </section>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
  </script>
  <script src="/scripts.js"></script>
</body>

</html>